* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: #E6EFF5;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Karla", sans-serif;
}